<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - dotnetproyect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body class="bg-gray-800 mx-auto ">

    <partial name="_LoginPartial" />
    <main class="container mx-auto pt-20">
        @RenderBody()
    </main>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dark-mode.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.getElementById('hs-header-base-collapse');
            const collapseMenu = document.getElementById('hs-header-base');

            toggleButton.addEventListener('click', function () {
                // Toggle the 'hidden' class to show or hide the menu
                collapseMenu.classList.toggle('hidden');
                collapseMenu.classList.toggle('block');
            });
        });
        document.getElementById('hs-dropdown-account').addEventListener('click', function () {
            const menu = document.getElementById('dropdown-menu');
            menu.classList.toggle('hidden');
            menu.classList.toggle('opacity-0');
            menu.classList.toggle('opacity-100');
        });
    </script>
</body>

</html>
