@model dotnetproyect.Models.Product

@{
    ViewData["Title"] = "Editar Producto";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="p-4 mt-14">
    <div class="rounded-lg overflow-hidden">
        <div class="text-slate-900 dark:text-white p-4">
            <h1 class="text-2xl font-bold">Editar Producto</h1>
        </div>
        <div class="p-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">

                    <!-- Hidden input for Producto ID -->
                    <input type="hidden" asp-for="Id" />

                    <!-- Nombre -->
                    <div class="mb-5">
                        <label asp-for="Nombre"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                        <input asp-for="Nombre"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <span asp-validation-for="Nombre" class="text-red-500 text-sm"></span>
                    </div>

                    <!-- Descripción -->
                    <div class="mb-5">
                        <label asp-for="Descripcion"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                        <input asp-for="Descripcion"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <span asp-validation-for="Descripcion" class="text-red-500 text-sm"></span>
                    </div>

                    <!-- Existencia -->
                    <div class="mb-5">
                        <label asp-for="Existencia"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Existencia</label>
                        <input asp-for="Existencia"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <span asp-validation-for="Existencia" class="text-red-500 text-sm"></span>
                    </div>

                    <!-- Tipo de Producto -->
                    <div class="mb-5">
                        <label asp-for="Tipo_prod"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de Producto</label>
                        <input asp-for="Tipo_prod"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        <span asp-validation-for="Tipo_prod" class="text-red-500 text-sm"></span>
                    </div>
                    <div class="mb-5">
                        <label asp-for="FabricanteId"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fabricante</label>
                        <select asp-for="FabricanteId" asp-items="ViewBag.FabricanteId"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option value="">Selecciona un fabricante</option>
                        </select>
                        <span asp-validation-for="FabricanteId" class="text-red-500 text-sm"></span>
                    </div>

                    <!-- Imagen Actual -->
                    <div class="mb-5">
                        <label asp-for="foto"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Imagen Actual</label>
                        <img src="~/images/Productos/@Model.foto" alt="Imagen actual"
                            class="w-32 h-32 object-cover rounded-lg mb-2">
                        <input type="hidden" asp-for="foto" />
                    </div>

                    <!-- Subir Nueva Imagen -->
                    <div class="flex items-center justify-center w-full">
                        <label asp-for="file"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span
                                        class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX.
                                    800x400px)</p>
                            </div>
                            <input asp-for="file" id="file" name="file" type="file" class="hidden" />
                        </label>
                        <span asp-validation-for="file" class="text-red-500 text-sm"></span>
                    </div>

                </div>

                <!-- Botón de Guardar Cambios -->
                <div class="flex justify-end">
                    <button type="submit"
                        class="bg-green-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-green-700">Guardar
                        Cambios</button>
                </div>
            </form>
        </div>
    </div>
</main>

<!-- Link para regresar a la lista de productos -->
<div class="mt-4">
    <a href="@Url.Action("Index")" class="text-blue-500 hover:underline">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
